<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" (keyup)="validationInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}"> 
       
            <button (click)="deleteItem(i)">
                <img src="assets/icons/icon-trash.svg" alt="botão de lixeira">
            </button>
        </li>
    </ul>

    <app-confirmation-modal
        [showModal]="showModal"
        (onCancel)="showModal = false"
        (onConfirm)="confirmaDeletAll()">
    </app-confirmation-modal>

</section>
<br>
<app-input-add (emitItemTaskList)="setEmitTaskItem($event)"></app-input-add>
<app-delete-all *ngIf="taskList.length" (click)="deleteAllItens()"></app-delete-all>
<!-- <app-confirmation-modal></app-confirmation-modal> -->